body {
    font-family: 'Roboto', sans-serif;
    margin:0;
}

/* Nav/header top styling */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    padding: 0px 7% 0px 20%;
}

ul {
    padding: 0px;
    list-style-type: none;
}

ul li a,
.anchor-button {
    text-decoration: none;
}

.nav-links {
    display:flex;
    gap: 20px;
    font-weight: 300;
    font-size: 18px;
}

.nav-links a:link,
.nav-links a:visited {
    color:white;
} 

/* Header bottom/hero styling */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 10px 100px;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 80px;
}

.hero h1 {
    font-weight: 900;
    font-size: 48px;
    margin: 0;
}

.hero p {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 20px;
}

.hero a {
    color: #fff;
    background-color: #3882f6;
    border: 2px solid transparent;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    width: 125px;
    flex: 1 0 auto;
    border-radius: 5px;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-image {
    padding: 10px;
    height: 250px;
    width: auto;
}


/* Main content styling */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 150px;
}

main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-top: -60px;
    margin-bottom: 40px;
}

.cards-container {
    display:flex;
}

.cards-container figure {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:grey;
    
}

.cards-container img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 2px solid blue;
}

/* Blockquote styling */

blockquote {
    margin:0;
    padding: 130px 230px;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

blockquote footer {
    margin-left: auto;
}

blockquote footer,
.author {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    font-style:normal;
}