/* General set-up + global fonts */

@font-face{
    font-family: 'Hobbiton Brushhand';
    src: url("../fonts/hobbiton-brushhand-font/HobbitonBrushhandhobbitonBrush-WygA.ttf");
}

@font-face{
    font-family: Medieval;
    src: url("../fonts/MedievalSharp/MedievalSharp-Regular.ttf");
}

body {
    font-family: Medieval, sans-serif;
    margin:0;
}

h1,
h2,
h3,
nav p {
    font-family: 'Hobbiton Brushhand';
}

html {
    scroll-behavior: smooth;
}

/* Nav/header top styling */


#background {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.902), rgba(255, 187, 0, 0.302)), url(../images/cover.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.902), rgba(255, 187, 0, 0.302)), url(../images/cover.jpg) no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0;
    color: #f9faf8;
    font-size: 32px;
    font-weight: bold;
    padding: 0px 7% 0px 20%;
}

ul {
    padding: 0px;
    list-style-type: none;
}

ul li a,
.anchor-button {
    text-decoration: none;
}

.nav-links {
    display:flex;
    gap: 20px;
    font-weight: 300;
    font-size: 18px;
}

.nav-links a:link,
.nav-links a:visited {
    color:white;
} 

/* Header bottom/hero styling */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    padding: 50px 100px;
}

.hero {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.hero h1 {
    font-weight: 900;
    font-size: 44px;
    margin: 0;
}

.hero p {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 20px;
}

.hero .anchor-button {
    color: #fff;
    border: 2px solid white;
    background-color: #8d2901;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    width: 125px;
    flex: 1 0 auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-image {
    padding: 10px;
    height: 400px;
    width: auto;
}


/* Main content styling */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(87, 20, 20, 0.4)), url(../images/main-background.jpg) no-repeat;
    background-size: cover;
    color: white;
}

main h2 {
    font-size: 40px;
    color: #ffffff;
    margin: 0 0 30px 0;
}

main #offer {
    margin-top: 50px;
    font-size: 25px;
    font-weight: 900;

}

.cards-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cards-container figure {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cards-container img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    border: 5px solid #8d2901;
    box-shadow: 3px 5px black;
    box-sizing: border-box;
    flex: 1 1 auto;
}

figcaption {
    margin-top: 12px;
    font-size: 19px;
    font-weight: bold;
}

.introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.introduction section {
    padding:0;
    margin:0;
    height: auto;
    width: 350px;
    flex: 1 1 auto;
}

#butterbur {
    text-align: center;
}

#butterbur img{
    width:400px;
    border-radius: 10px;
    border: 10px solid #8d2901;
    box-shadow: 5px 10px black;
}

/* Blockquote styling */

.quotes {
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    background-color: #e5e7eb;
    padding: 50px;
}

.quotes h2 {
    font-size: 40px;
    padding:0px;
    margin:0px 5px;
}

blockquote {
    padding:20px 20px;
    margin: 0px;
    color: #1f2937;
    width: 95%;
    height: auto;
    font-size: 32px;
    font-style: italic;
    font-weight: lighter;
    border: 1px solid rgb(0, 0, 0);
}

.quotes footer,
.author {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
}

/* Call to action styling */

.cta-container {
    background-color: #3882f6;
    color: #e5e7eb;
    margin: 100px 200px;
    border-radius: 5px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-text h3, 
.cta-text p {
    margin: 0;
    margin-left: 120px;
    font-size: 23px;
}

.cta-text p {
    font-size: 16px;
    font-weight: lighter;
}


.cta-container .anchor-button {
    margin-left: auto;
    margin-right: auto;
    color: #e5e7eb;
    font-weight: bold;
    border: 3px solid #e5e7eb;
    border-radius: 8px;
    font-size: 16px;
    height: 40px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/* Footer styling */

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}